body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin-top: 20px; /* Adjust the margin-top value as desired */
}

.initials {
    font-weight: bold;
    color: #ff5722; /* Set the color of the initials */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); /* Adjust the height calculation as needed */
    margin-top: 50px; /* Adjust the margin-top value as desired */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px; /* Adjust the margin value as desired */
    padding: 16px;
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 300px;
}


.card:hover {
    transform: translateY(-4px);
}

.card a {
    text-decoration: none;
    color: #333;
}

.card img {
    border-radius: 4px;
    margin-bottom: 16px;
    max-width: 100%;
}

.card h3 {
    margin: 0;
    font-size: 18px;
}

@media screen and (max-width: 1040px) {
    .container {
      flex-direction: column;
      align-items: center;
      margin-top: 25%;
    }
  
    .card {
      width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .container {
      margin-top: 32%;
    }
}

@media screen and (max-width: 680px) {
    .container {
      margin-top: 37%;
    }
}

@media screen and (max-width: 580px) {
    .container {
      margin-top: 47%;
    }
}

@media screen and (max-width: 440px) {
    .container {
      margin-top: 57%;
    }
}

@media screen and (max-width: 340px) {
    .container {
      margin-top: 65%;
    }
}
